doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
  body
    block content
    script(src='scripts/lib/angular2-polyfills.js')
    script(src='scripts/lib/system.js')
    script(src='scripts/lib/typescript.js')
    script(src='scripts/lib/Rx.js')
    script(src='scripts/lib/angular2.dev.js')
    //script(src='scripts/lib/es6-shim.js')
    script(src='scripts/lib/ts-config.js')
    script(src='scripts/lib/jquery-2.1.4.js')
    script(src='scripts/lib/socket.io-1.3.7.js')
    script(src='scripts/lib/appLogic.js')
    