doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon') 
  body
    block content
    script(src='https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js')
    script(src='https://code.angularjs.org/tools/system.js')
    script(src='https://code.angularjs.org/tools/typescript.js')
    script(src='https://code.angularjs.org/2.0.0-beta.0/Rx.js')
    script(src='https://code.angularjs.org/2.0.0-beta.0/angular2.dev.js')
    //script(src='../node_modules/es6-shim/es6-shim.js')
    script(src='scripts/lib/main-fe.js')